/* Basic Reset */
body,
h1,
h2,
h3,
p,
ul,
li,
nav,
header,
main,
footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    /* Dark background */
    color: #0f0;
    /* Bright green text */
    font-family: 'Courier New', monospace;
    /* Monospaced font for that classic hacker feel */
    line-height: 1.6;
}

a {
    color: #00ff00;
    /* Bright links */
    text-decoration: none;
    /* No underlines on links */
}

a:hover {
    text-decoration: underline;
    /* Underline links on hover for better UX */
}

header {
    background: #222;
    /* Slightly different background for the header */
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #0ff;
    /* Cyan color for navigation links */
    margin-right: 20px;
}

ul {
    list-style: none;
    /* Remove bullet points */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two cards in a row */
    gap: 20px;
    /* Adjust the gap between cards */
}

.post-preview {
    background: #181818;
    /* Subtle borders */
    margin-bottom: 10px;
    /* Card styles */
    border: 1px solid #ccc;
    padding: 20px;
    /* Add other styles for the card */
}

.post-preview h2 {
    color: #09f;
    /* Blue headings */
}

.post-preview p {
    color: #999;
    /* Lighter text for descriptions */
}

footer {
    background: #222;
    color: #aaa;
    /* Light gray text for footer */
    padding: 20px;
    text-align: center;
}

img {
    max-height: 300px;
    /* Set the max height as per your requirement */
}