/* src/App.css */

.App {
  text-align: center;
  font-family: 'Cairo', sans-serif;
  /* Arabic-style font */
  background-color: #f5deb3;
  /* Warm sand-like background */
  color: #003366;
  /* Deep blue for text */
}

h1 {
  padding: 20px;
  font-size: 2.5rem;
  background-color: #d4af37;
  /* Gold color for headers */
}