/* src/MovieList.css */

.movie-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Four columns in the grid */
    gap: 20px;
    /* Space between grid items */
    padding: 20px;
    background-color: #f0e6d6;
    /* Light sand color */
}

.movie-item {
    border: 1px solid #d4af37;
    /* Gold color accent */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.movie-item img {
    width: 100%;
    /* Ensure images take full width of the grid item */
    height: auto;
    /* Maintain aspect ratio */
    border-bottom: 1px solid #d4af37;
    /* Gold accent */
}

.movie-item h3 {
    margin: 10px 0;
    color: #003366;
    /* Deep blue for contrast */
}

@media (max-width: 768px) {
    .movie-list {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on smaller screens */
    }
}